.quantityCount {
  display: inline-flex;
  background-color: #f8601a;
  padding: 3px 5px;
  align-items: center;
  margin-top: 20px;
}

.quantityCount p {
  font-size: 18px;
  color: white;
  margin: 0;
}

.quantityCount .quantity {
  text-align: center;
  width: 40px;
}

.quantityCount .DecreBtn,
.quantityCount .IncreBtn {
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.quantityCount .DecreBtn:hover,
.quantityCount .IncreBtn:hover {
  background-color: #d45c14;
}
