input {
  padding: 10px;
}

form {
  background-color: #f8601a;
  padding: 40px 0;
}

.newsletterBtn {
  background-color: white !important;
  color: black !important;
  font-size: 14px !important;
}
